.Project-navbar .Nav-bar {
  z-index: 10;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  transition: 0.1s;
}

.Project-navbar .Nav-button {
  position: relative;
  overflow: hidden;
  margin: 0.1rem;
  margin-right: auto;
  background-color: var(--bg-secondary);
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  transition: 0.1s;
  border-radius: 1rem;
}

.Project-navbar .Nav-button .Icon {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  position: absolute;
  scale: 50%;
}

.Project-navbar .Nav-button .Description {
  padding: 0.1rem;
  width: 100%;
  height: 100%;
  color: white;
  visibility: hidden;
  position: absolute;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.1s;
  font-size: small;
}

.Project-navbar .Nav-button:hover .Description {
  cursor: pointer;
  visibility: visible;
  background-color: rgba(0, 0, 0, 50%);
}

/* We don't want to show the button name */
.Project-navbar .Nav-button .Button-text {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
}
