:root {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --text-primary: azure;
  --text-secondary: lightblue;
  --bg-primary: rgb(59, 57, 54);
  --bg-primary-transparent: rgba(59, 57, 54, 0);
  --bg-secondary: rgb(87, 87, 87);
  --bg-secondary-transparent: rgba(87, 87, 87, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.Main {
  margin-left: 5rem;
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Nav-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--bg-primary);
  position: fixed;
  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
}

.Nav-button {
  padding: 0;
  margin: 0.1rem;
  margin-right: auto;
  background-color: var(--bg-secondary-transparent);
  width: 4.5rem;
  display: flex;
  align-items: center;
  height: 4.5rem;
  transition: 0.1s;
}

.Nav-button:hover {
  border-radius: 1rem;
  border-width: 1.5rem;
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.Nav-button .Icon {
  margin: 0 1.2rem;
  min-width: 2rem;
}

.Nav-button .Button-text {
  display: none;
  margin-left: 1rem;
}

.Nav-button:hover .Button-text {
  background-color: var(--bg-secondary);
}

.Nav-bar:hover {
  width: 12rem;
}

.Nav-bar:hover .Button-text {
  width: 12rem;
  display: block;
}
/* 
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
